:root {
  --color-bg: #674baf;
  --color-primary: #fff;
  --color-accent: #e882e8;
  --color-shadow: #4d3885;

  --fs-xl: 4.2rem;
  --fs-600: 3.2rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  background-color: var(--color-bg);
  color: var(--color-primary);
}

h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--fs-600);
}

/* Components */
.btn {
  display: inline-block;
  color: var(--color-bg);
  background: var(--color-primary);
  text-decoration: none;
  font-size: var(--fs-300);
  padding: 0.8em 5.5em;
  border-radius: 20px;
  box-shadow: 0 2px 10px 5px var(--color-shadow);
  transition: all 0.15s ease-out;
}

.btn:hover {
  color: var(--color-primary);
  background-color: var(--color-accent);
}

.social-links {
  text-align: center;
}

.social-icon {
  display: inline-flex;
  width: 28px;
  height: 28px;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-out;
}

.social-icon + .social-icon {
  margin-left: 5px;
}

.social-icon .fab {
  font-size: var(--fs-300);
}

.social-icon:hover {
  cursor: pointer;
  color: var(--color-accent);
  border-color: var(--color-accent);
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
